footer{
	position: static;
}
header>h1{
	margin-top: 35px;
	margin-left: 20%;
    font-size: 45px;
}
header>h3{
	margin-top: 5px;
	margin-left: 20%;
	font-size: 20px;
	margin-bottom: 0px;
}
header>p{
	margin-left: 20%;
	font-weight: 200;
	color: gray;
	margin-top: 0px;
}
.container{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 67%;
    height: 100%;
    margin-left: 19%;
}
.books{
	height: 34%;
    width: 110px;
    margin: 5px 15px;
}

.books>img{
	width: 106px;
	height: 165px;
	border-radius: 5px;
    box-shadow: 0px 5px 10px silver;
}
.tagbigbox{
	margin-top: 60px;
    margin-left: 19%;
    width: 60%;
    box-shadow: 0px 10px 55px #eee;
    padding: 20px;
}
.tagbigbox>h3{
	font-weight: 100;
}
.tagbox{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tagbox>a{
	text-decoration: none;
	color: #6f6f6f;
	border-radius: 10px;
	border: 1px solid #eee;
	padding: 10px;
	margin: 5px 10px;

}
.bigbookcontainer{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin-left: 19%;
    margin-top: 100px;
    margin-bottom: 50px;

}
.bigbooksection{
	display: flex;
	flex-direction: row;
	width: 50%;
	height: 250px;
	margin: 10px 0px;

}
.bigbookpic{
	width: 45%;
}
.bigbookpic>img{
	width: 100%;
	height: 100%;
}
.bigbooksection>content{
	width: 60%;
    margin: 0px 5%;
}
@media only screen and (max-width:786px) {
	.bigbooksection{
		width: 100%;
	}
}